*{
  margin: 0;
}

.app__header {
  text-align: center;
}

/* .app__messageForm {
  flex: 1;
  background-color: gray;
  width: 100%;
  display: flex;
  position: absolute;
  padding: 20px;
} */
.app__messageForm{
  /* padding: 20px; */
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 96%;
  background-color: lightgrey;
  /* margin: 20px; */
  border-radius: 25px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app__formControl{
  display: flex !important;
  flex-direction: row !important;
  /* align-items: center !important;
  justify-content: center !important; */
}

.app__messages{
  padding: 50px;
  margin-bottom: 40px;
}

.app__message{
  flex: 1;
}

.app__sendMessege{
  flex: 0;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
