.card__guestMessage{
    margin-right: auto;
    text-align: left !important;
    /*background-color: #e2dede !important;*/
    background-color: #e5f7fd !important;
    margin-bottom: 10px;
    width: fit-content;
    padding: 0;
}

.card__userMessage{
    margin-left: auto;
    text-align: right !important;
    /*background-color: #c8eaff !important;*/
    background-color: #c7edfc !important;
    margin-bottom: 10px;
    width: fit-content;
}